
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.loader-container {
  background-color: #33312e; 
  height: 100vh;
  width: 100vw;
  position: fixed ;
  z-index: 100;
  display:flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 2s 2s forwards;
}

.loader {
  position: sticky;
  border: 8px solid #bdbdbd;
  border-radius: 50%;
  border-top: 8px solid transparent;
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite, fadeOut 1s 1s forwards;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0;
         display: none;}
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


nav h1{
  font-size: 24px !important;
}


nav ul {
  list-style: none;
  display: flex;
  
}

nav ul li {
  margin-right: 20px;
  opacity: 0;
  transition: 0.5s ease all;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav::before {
  content: '';
  display: inline-block;
  width: 25px; 
  height: 25px; 
  background: url("https://github.com/aaj90/swe-363-231/blob/main/HTML/Pics/more.png?raw=true") no-repeat;
  background-size: cover;
}

nav:hover ul li{
  opacity: 1;
  transition: 0.5s;
}

nav:hover ul li:nth-child(1) { transition-delay: 0.2s; }
nav:hover ul li:nth-child(2) { transition-delay: 0.4s; }
nav:hover ul li:nth-child(3) { transition-delay: 0.6s; }
nav:hover ul li:nth-child(4) { transition-delay: 0.8s; }
nav:hover ul li:nth-child(5) { transition-delay: 1s; }

.Top {
  background-image: url("https://github.com/aaj90/swe-363-231/blob/main/HTML/Pics/shirt-mockup-concept-with-plain-clothing%20(2).jpg?raw=true");
  background-size: cover;
  color: #fff;
  padding: 20px 0;
  height: 650px;
}

.Slogan {
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  width: 50%;
}

.Slogan h1 {
  font-size: 50px;
}

.Slogan p {
  font-size: 24px;
  margin-top: 20px;
}


.categories {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.226);
 }
 
 
 .category-card {
   margin-left: 50px;
   margin-right: 50px;
   border-radius: 5px;
   height: 500px;
   width: 500px; 
   box-shadow: 0px 0px 5px rgba(73, 72, 72, 0.466);
   transition: 0.5s ease-in-out;
 }
 
 .category-card:hover {
  scale: 1.03;
  transition: 0.5s;
  box-shadow: 0px 0px 20px rgba(73, 72, 72, 0.801);
}
 .category-card-men{
  background-image: url("https://images.stylishop.com/media/catalog/product/7003632225/images/7003632225_.jpg?v=1");
   background-size: cover;
 }
 
 .category-card-women{
   background-image: url("https://images.stylishop.com/media/catalog/product/59094921/images/59094921_90.jpg?v=1");
   background-size: cover;
 }
 
 .category-card h3 {
   background-color: #33333356;
   width: 100%;
   color: rgb(255, 255, 255);
   text-shadow: 5px 5px #333;
   font-size: 40px;
   margin-top: 80%;
 }
 


 .new-products {
  background-color: rgba(49, 61, 26, 0.055);
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 10%;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.226);
}

.new-products h2{
  text-align: center;
  color: rgb(28, 28, 28);
  size: 500px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #333;
}

.product-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-card {
  background-color: #fff;
  width: 15%;
  border-radius: 10px;
  padding-bottom: 1%;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(73, 72, 72, 0.466);
  transition: 0.5s ease-in-out;
}

.product-card:hover {
  scale: 1.03;
  transition: 0.5s;
  box-shadow: 0px 0px 20px rgba(73, 72, 72, 0.801);
}

.product-card img {
  max-width: 100%;
  margin-bottom: 5%;
}


.newsletter {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.newsletter p {
  padding-top: 3px;

}


.newsletter form {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.newsletter button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
}

.icon-twitter::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px; 
  background: url("https://github.com/aaj90/swe-363-231/blob/main/HTML/Pics/twitter%20(1).png?raw=true") no-repeat;
  background-size: cover; 
}

.icon-instagram::before {
  content: '';
  display: inline-block;
  width: 25px; 
  height: 25px; 
  background: url("https://github.com/aaj90/swe-363-231/blob/main/HTML/Pics/instagram%20(1).png?raw=true") no-repeat;
  background-size: cover;
}



/*----- Login/Registration -----*/


.login_regester_body{
  background-color: #97876486;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 50%;
  width: 35%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
}

.Login-Registration-form {
  display: flex;
  flex-direction: column;
}


label {
  margin-top: 10px;
  color: #333;
}

input {
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #2b2928;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease all;
}

button:hover {
  
  background-color: #2b2928a9;
  color: #fff;
  transition: 0.5s;
}
